@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
*{
   box-sizing: border-box;
}
:root{
    --VeryDarkBlue: hsl(230, 29%, 20%);
    --DarkGrayishBlue: hsl(230, 11%, 40%);
    --GrayishBlue: hsl(231, 7%, 65%);
    --LightGrayishBlue: hsl(207, 33%, 95%);
}
body{
    font-family: 'Barlow', sans-serif;
    color: var(--DarkGrayishBlue);
    font-size: 18px;
}
body:after{
    content: "";
    height: 50vh;
    width: 50vw;
    background-color: var(--LightGrayishBlue);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-bottom-left-radius: 50px;
}
.main-wrapper{
    overflow-x: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 1200px;
}
nav button{
    visibility: hidden;
}
h1,
h3,
ul > li > a{
    font-family: "Barlow Condensed", sans-serif;
    text-transform: uppercase;
}
ul{
    list-style-type: none;
    padding-left: 0;
    display: flex;
    font-weight: 700;
    position: relative;
    justify-content: center;
    align-items: center;
}
ul > li{
    margin-left: 40px;
}
ul > li > a{
    text-decoration: none;
    color: var(--VeryDarkBlue);
}
.login{
    margin-left: 40px;
    color: var(--GrayishBlue);
}
ul > li:last-child::before{
    content: "";
    height: 10px;
    width: 10px;
    background-color: var(--GrayishBlue);
    border-radius: 50%;
    position: absolute;
    top: 8px;
}
nav {
    margin: 40px 0;
}
main {
    display: flex;
    align-items: center;
    height: calc(100vh - 250px);
    margin-top: 80px;
}
.left{
    flex: 1;
}
.right{
    flex: 1;
}
img{
    max-width: 100%;
}
h3{
    font-size: 1.2rem;
    color: var(--GrayishBlue);
    font-weight: 400;
    letter-spacing: 5px;
}
h3 span{
    background-color: var(--VeryDarkBlue);
    color: #ffffff;
    border-radius: 50px;
    padding: 3px 10px;
    margin-right: 10px;
    letter-spacing: 2px;
}
h1{
    color: var(--VeryDarkBlue);
    font-size: 4rem;
    line-height: 4rem;
    margin-top: 18px;
}
p{
    color: var(--GrayishBlue);
    font-weight: 400;
}
.left > a,.left > span{
    font-family: "Barlow Condensed", sans-serif;
    font-size: 14px;
    margin-top: 30px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1.2rem;
}
.left > a{
        padding: 10px 20px;
        background-color:  hsl(0, 100%, 68%);
        color: #ffffff;
        border-radius: 5px;
        text-decoration: none;
        margin-right: 10px;
    }
.left > span{
    color: var(--GrayishBlue);
    letter-spacing: 5px;
    margin-left: 10px;
}
.illustration{
    transform: scale(1.5) translateX(20%);
}
@media screen and (max-width: 768px){
    ul{
        transform: translateX(120%);
        flex-direction: column;
        background-color: #ffffff;
        width: calc(100vw - 56px);
        position: absolute;
        top: 50%;
        z-index: 999;
        transition: transform 0.4s ease; 
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    }
    nav{
        position: relative;
    }
    ul > li {
        padding: 10px;
    }
    .login{
        margin-left: 0;
        margin-top: 10px;
    }
    ul > li:last-child::before{
       height: 2px;
       width: 100%;
       border-radius: 2px;
       position: absolute;
       top: 130px;
       left: 0;
    }
    nav .container{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    main{
        height: 100vh;
    }
    main .container{
        flex-direction: column-reverse;
    }
    .illustration{
    transform: scale(1.2) translateX(10%);
    }
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: 1rem;
    }
    .left{
        margin-top: 80px;
    }
    body:after{
        height: 70vh;
    }
    .icon-hamburger{
        visibility: visible;
        position: absolute;
        right: 0;
        top: 1%;
    }
    body.show-nav ul{
        transform: translateX(0);
    }
    body.show-nav .icon-close{
        visibility: visible;
        position: absolute;
        right: 0;
        top: 1%;
    }
    body.show-nav .icon-hamburger{
        visibility: hidden;
    }
    
}